:root {
  --primary: #f6fffa;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: #ffffff00;
  color: #ffffff;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  border-radius: 30px;
}

.btn--login {
  background-color: #ffffff00;
  border: #fff solid 2px;
  color: #ffffff;
  width: 105%;
  transition: all 0.3s ease-out;
  border-radius: 50px;
}

.btn--signup{
  background-color: #ffffff;
  border: #fff solid 2px;
  color: #000000;
  width: 105%;
  transition: all 0.3s ease-out;
  border-radius: 50px;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #000000;
  color: #fffafa;
  transition: 250ms;
}