.section_padding{
    padding: 4rem 4rem;
}

.footer{
    background-color: #9eb692;
}

.sb_footer {
    display: flex;
    flex-direction: column;
}

.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #0f0f0e;
}

.sb_footer-links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: aliceblue;
}

a{
    color: aliceblue;
    text-decoration: none;
    
}


.sb_footer-links_div h4{
    font-size: 24px;
    line-height: 15px;
    margin: 1rem 0;
    cursor: pointer;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
} 

.sb_footer-links_div p{
    font-size: 14px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
} 

.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem
}

.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}
 
.sb_footer-below-links p{
    font-size: 16px;
    line-height: 18px;
    margin-left: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

hr{
    color: white !important;
    width: 100%;
}

.sb_footer-copyright{
    font-size: 16px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.newsletter{
    align-self: center;
}

.newsletter h3 {
    color: rgb(251, 251, 251);
    max-width: 25ch;   /* limits line length */
    white-space: normal;
    word-wrap: break-word;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 24;
    margin-bottom: 1rem;
}

input {
  position: relative;
  height: 100%;
}

input[type="email"]{
    padding: 9px 20px;
  border: 1px solid rgb(206, 206, 206);
}
input[type="button"]{
    border: none;
  padding: 9px 20px;
  background: #b9a56c;
  color: rgb(255, 255, 255);
  border: 1px solid #b9a56c;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
    .sb_footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .sb_footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }

    .sb_footer-links div{
        margin: 1rem 0;
    }

    .sb_footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }

    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }

    .sb_footer-below-links{
        flex-direction: column;
    }

    .sb_footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem
    }
}

@media screen and (max-width: 400px) {
    .sb_footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}
