.hero-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;

    background-image: url('/public/hero5.jpg');
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 3rem;
    margin-left: 0;
    border-radius: 16px;    
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 5px solid #dce7dc; 
    border-bottom: 5px solid #dce7dc;
    border-left: 5px solid #dce7dc;
    margin-left: 10.5rem;
    margin-top: 2rem;
    
}

.h1-1st, .h1-2nd{
    font-size: 100px;
    margin: 0;
    max-width:  750px;
    word-break: break-word;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: left;
}

.h1-1st{
    color: #3a7d6c;
}

.h1-2nd{
    color: #C0B87A;
}

.hero-container p{
    color: #4b5563;
    font-size: 18px;
    margin-top: 8px;
    max-width: 600px;
    font-weight: 00;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.hero-btns {
  margin-top: 30px;
  gap: 1rem;
}

.btns {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.9rem 1.6rem;
    border: #C6A15B;
    background: #3a7d6c;
    color: #fff;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: transform 180ms ease, box-shadow 180ms ease, background 180ms ease;
    text-decoration: none;
    margin-right: 16px;
    border-radius: 100px;
}

.btns2{
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.9rem 1.6rem;
    border: 1px solid #000000;
    background: transparent;
    color: #000000;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: transform 180ms ease, box-shadow 180ms ease, background 180ms ease;
    text-decoration: none;
    margin-right: 16px;
    border-radius: 100px;
}



.btns:hover, .btns2:hover {
    background: #000000;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    color: white;
}


@media screen and (max-width: 960px) {


    .h1-1st, .h1-2nd{
        font-size: 60px;
        margin-top: 150px;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {

    .hero-container{
        align-items: center;
        background-position: 88% 130%;
        background-size: auto 70%;
        height: 93vh
    }

    .hero-content{
        align-items: center;
        padding: 1rem 1rem;
        margin: 0;
        margin-bottom: 20rem;
        border: none;
    }

    .h1-1st, .h1-2nd{
        font-size: 40px;
        text-align: center;
        margin-top: 0;
        color: #121212;
    }

    .hero-container p{
        font-size: 16px;
        display: flex;
        text-align: center;
        color: #030303a1;
    }

    .hero-btns{
        margin-top: 10px;
        padding: 3px;
        display: flex;
        justify-content: center;
        gap: .3rem;
    }

    .btns, .btns2{
        font-size: 10px;
        margin: 0;
       
    }

    .hero {
        min-height: 60vh;
        padding: 3rem 1.5rem;
    }
}
