.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;         
  width: 100%; 
  z-index: 9999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  margin-top: 10px;
  border-radius: 20px;
}

.navbar-logo {
  color: #2f4858;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-search-icon {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.fa-flask {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}


.nav-menu {
  display: flex;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: center;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #2f3b2f;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  Letter-spacing: 0.02em;
  position: relative;
}

.nav-links::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: 25px;
  left: 0;
  background: #C0B87A;
  transition: width 0.6s ease-in-out;
}

.nav-links:hover::after{
  width: 100%;
}

.fa-bars {
  color: #4a5137;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}



@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  
  .navbar-container{
    border: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 1s ease;
    background: linear-gradient(90deg, rgb(154, 183, 143) 0%, rgb(181, 165, 165) 100%);
  }

  .nav-menu.active {
    background: linear-gradient(90deg, rgb(154, 183, 143) 0%, rgb(181, 165, 165) 100%);
    left: 0;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
  }

  .navbar.open{
    background: linear-gradient(90deg, rgb(154, 183, 143) 0%, rgb(181, 165, 165) 100%);
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: #ffffff;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .nav-links:hover::after{
    width: 0%;
    border-bottom: #fff 5px solid;
    background-color: black;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
    color: #ffffff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #ffffff;
    color: #242424;
    transition: 250ms;
  }
}