.whyUs_cards {
  padding: 2rem 0rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  background-size: cover;
  background-image: url('/public/2.jpg');
  background: no repeat;
  background-position: center top;
  overflow: hidden;
}

.whyUs_cards__container {
  max-width: 1200px;
  margin: 0 auto;
}

.whyUs_cards__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.whyUs_cards__wrapper{
  padding: 0 2rem;
}

.whyus-card {
  background: rgba(5, 103, 49, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); 
  border: 1px solid rgba(255, 255, 255, 0.34);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.whyus-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.whyus-card__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  text-decoration: none;
  height: 0%;
}


.whyus-card__icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 1.25rem;
}


.whyus-card__title {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffffe7;
  margin: 0 0 0.5rem;
}

.whyus-card__description {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin: 0;
}

