.whyUs_cards {
  padding: 2rem 0rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  background-color: #f6fffa;
}

.whyUs_cards__container {
  max-width: 1200px;
  margin: 0 auto;
}

.whyUs_cards__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.whyUs_cards__wrapper{
  padding: 0 2rem;
}

.whyus-card {
  
  border-radius: 16px;

 
  border: 1px solid rgba(255, 255, 255, 0.34);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.whyus-card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
}


.whyus-card__icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  margin-bottom: 1.25rem;
}


.whyus-card__title {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #030303e7;
  margin: 0 0 0.5rem;
  text-align: center;
}

.whyus-card__description {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .whyUs_cards {
    min-height: 60vh;
    background-position: center center;
  }
}

